@import url("root.css");

:root {
    --grid-height: 1500px;
    --grid-width: 90vw;
}

@media screen and (max-width: 1000px) {
    :root {
        --grid-height: 1500px;
        --grid-width: 80vw;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --grid-height: 1500px;
        --grid-width: 70vw;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --grid-height: 1500px;
        --grid-width: 60vw;
    }
}

body {
    overflow-x: hidden;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--threeDeep);

    min-width: 50%;
    height: fit-content;

    margin: auto auto;
}

.agenda-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 10vh;

    background-color: var(--twoDeep);

    position: sticky;
    top: 0;

    z-index: 999;

    text-align: center;
}

.today {
    background-color: white;
    color: black;
}

.week-manager,
.week-manager * {
    background-color: var(--threeDeep);
    color: var(--callToAction);
    text-decoration: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.day-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);

    width: var(--grid-width);

}

.grid-container {
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(48, 1fr);

    background-color: var(--oneDeep);
    height: var(--grid-height);
    width: var(--grid-width);

    font-size: 0.75em;
}

.hour-line-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(24, 1fr);

    /* background-color: blue; */
    height: var(--grid-height);
    width: var(--grid-width);

    position: absolute;
    top: 0;
}

.hour-line {
    border-bottom: 1px solid var(--threeDeep);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hour-line:first-of-type {
    border-top: 1px solid var(--threeDeep);
}

.hour-line * {
    margin-left: -3em;
    margin-bottom: -0.75em;
}

.day-line-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);

    /* background-color: blue; */
    height: var(--grid-height);
    width: var(--grid-width);

    position: absolute;
    top: 0;
}

.day-line {
    border-left: 1px solid var(--threeDeep);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.day-line:last-of-type {
    border-right: 1px solid var(--threeDeep);
}

.grid-item {
    background-color: var(--threeDeep);
    text-align: center;

    width: 100%;
    overflow: hidden;

    z-index: 99;
}

.plus-wrapper {
    position: fixed;
    bottom: 5%;
    right: 2%;

    background: var(--callToAction);
    border-radius: 100%;

    width: 4rem;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.detail-wrapper {
    width: 90%;

    height: 50vh;

    overflow: hidden;
    background-color: var(--oneDeep);

    border-radius: 16px;
    margin-left: 2.5%;
    padding: 0 2%;

    position: fixed;
    bottom: 0;

    z-index: 999;
}

.detail-datum {
    font-size: 3rem;
    margin-top: 2%;
    text-align: center;
}

.detail-content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    width: 100%;
    height: 95%;
}

.detail-content-left,
.detail-content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 49%;
}

.detail-time,
.detail-instructeur-wrapper,
.detail-opmerking,
.detail-todo {
    background-color: var(--callToAction);
    width: 100%;
    text-align: center;
    border-radius: 16px;

    height: 15vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 5%;
}

.detail-instructeur-wrapper {
    justify-content: space-around;
    background-color: var(--callToAction);
}

.detail-instructeur-img {
    border-radius: 100%;
    height: 3.5rem;
    width: 3.5rem;
    margin: 0 auto;
}

.detail-wrapper {
    width: 90%;

    position: fixed;
    bottom: 0;

    height: 50vh;

    padding-top: 2%;
    margin-left: 2.5%;

    background-color: var(--twoDeep);
    border-radius: 16px 16px 0 0;

    display: none;

    animation: fadeIn 0.5s ease-in-out;
}

.detail-datum {
    font-size: 2rem;
    text-align: center;
}

.detail-content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    width: 90%;

    margin-left: 5%;
}

.detail-content-left,
.detail-content-right {
    display: flex;
    flex-direction: column;
    justify-content: unset;

    width: 49%;
}

.detail-time {
    background-color: var(--callToAction);
    width: 100%;
    text-align: center;
    border-radius: 16px;

    height: 15vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-instructeur-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    background-color: var(--callToAction);
    width: 100%;
    height: 15vh;

    border-radius: 16px;

    vertical-align: middle;
}

.detail-instructeur-img {
    height: 3.5rem;
    border-radius: 100%;
}

.detail-opmerking,
.detail-todo {
    background-color: var(--callToAction);
    width: 40vw;
    text-align: center;
    border-radius: 16px;

    height: 15vh;
}

.detail-todo {
    margin-top: 5%;
}

.close-background {
    position: absolute;
    top: calc(2rem + 1%);
    right: 10%;
    width: 5%;
    height: 10%;

    cursor: pointer;
}

.close1,
.close2 {
    position: absolute;
    top: calc(2rem + 1%);
    right: 10%;
    width: 0.5%;
    height: 10%;

    background-color: white;
    cursor: pointer;

    transform: rotate(45deg);
}

.close1 {
    transform: rotate(-45deg);
}

@keyframes fadeIn {
    from {
        height: 0;
        display: block;
    }

    to {
        height: 50%;
        display: block;
    }
}

@keyframes fadeOut {
    from {
        height: 50%;
    }

    to {
        height: 0;
        display: none;
    }
}